[Unit]
Description=Battery Logger Service
After=multi-user.target
# Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/shreyas/myscripts/batterygraphs/batterystatslogger.py
# StandardInput=tty-force

[Install]
WantedBy=multi-user.target
